@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    max-width: 100%;
    height: 500px;
}

/* new stuff */

.banner_one {
    background-image: url('../../public/images/banner-4.jpg');
    height: 500px;
    width: auto;
    background-size: cover;
}


.banner_two {
    background-image: url('../../public/images/banner-5.jpg');
    height: 500px;
    width: auto;
    background-size: cover;
}

/* partners  */

.embla_partners {
    --slide-spacing: 1rem;
    --slide-size: 50%;
    --slide-height: 19rem;
    padding: 1.6rem;
}

.embla__viewport_partners {
    overflow: hidden;
}

.embla__container_partners {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide_partners {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
}

.embla__slide__img_partners {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
}

.embla__slide__number_partners {
    width: 4.6rem;
    height: 4.6rem;
    z-index: 1;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    border-radius: 50%;
    background-color: rgba(var(--background-site-rgb-value), 0.85);
    line-height: 4.6rem;
    font-weight: 900;
    text-align: center;
    pointer-events: none;
}

.embla__slide__number_partners>span {
    color: var(--brand-primary);
    background-image: linear-gradient(45deg,
            var(--brand-primary),
            var(--brand-secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* end partners  */

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}